{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block h1 %}INSCRIPTION{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto p-2">
    <div class="container mt-5">
        <div class="row">
            <div class="card rounded-custom col-md-6 mx-auto bg-lighter text-black">

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="mb-3 mt-3">
                    {{ form_row(registrationForm.nom, {'attr': {'class':'form-control rounded-custom'}}, {
                        label: 'Nom'
                    }) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.prenom, {'attr': {'class':'form-control rounded-custom'}}, {
                        label: 'Prénom'
                    }) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.email, {'attr': {'class':'form-control rounded-custom'}}, {
                        label: 'Adresse Email'
                    }) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class':'form-control rounded-custom'}}, {
                        label: 'Password'
                    }) }}
                    </div>
                    <div class="mb-3">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class':'form-control'}}, {
                        label: 'Termes et Conditions'
                    }) }}
                    </div>
                    <button type="submit" class="btn btn-dark rounded-custom w-100 mb-3">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
