{% extends "base.html.twig" %}

{% block h1 %}Carte à l'unité{% endblock %}

{% block body %}

{% for t_produit in api_data %}

        {% if t_produit.activation %}
{{dump(t_produit)}}
        <tr>
            
            <td> {% block h2 %}{{ t_produit.nomProduit }}{% endblock %} </td>
            <td> {{ t_produit.stock }} </td>
            <td> {{ t_produit.prix|number_format(2) }} </td>
        </tr>

            {% endif %}

{# <div class="postTextContainer">
    <div class="postTitle">title</div>
    <div class="postDate">date</div>
    <div class="postAuthor">author</div>
</div>
{% for row in api_data %}
    <div class="postTextContainer">
        <div class="postTitle">{{ row.title }}</div>
        <div class="postDate">{{ row.date }}</div>
        <div class="postAuthor">{{ row.author }}</div>
    </div> #}

{% endfor %}

{% endfor %}

{% endblock %}