{% extends "base.html.twig" %}

{% block title %}Carte à l'unité{% endblock %}

{% block h1 %}Carte à l'unité{% endblock %}

{% block body %}

<main class="col-md-10 mx-auto p-2">
        <div class="container">

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning" role="alert">
                    {{message}}
                </div>
            {% endfor %}

            {{form_start(form)}}
                <div class="row">
                    <div class="col-md-2">
                        {{form_widget(form.type, {'class':'form-control'})}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(form.atk, {'class':'form-control'})}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(form.def, {'class':'form-control'})}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(form.level, {'class':'form-control'})}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(form.race, {'class':'form-control'})}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(form.attribute, {'class':'form-control'})}}
                    </div>
                    <div>
                        <input type="submit" class="btn btn-sm btn-primary w-100" value="Filtrer">
                    </div>
                </div>
            {{form_end(form)}}
        </div>

    <section class= "container">
        <div class="row d-flex justify-content-center">
            {% for card in productsWithCard %}
                {# <pre>
                    {{ dump(card) }}
                </pre> #}
                {% set t_produit = card.product %}
                {% set carte = card.card %}
                            <div class="col-md-6 col-lg-3 d-flex flex-column align-items-center border border-3 border-opacity-50 border-black mx-3 my-3 rounded-custom bg-light carte">
                                <a class"a" href="{{ path('detailProduit', {'id': t_produit.id}) }}">
                                <h2 class="text-center titreProduit"> {{ t_produit.nomProduit }} </h2>
                                </a>
                                <div class="mt-auto">
                                    <div class="accordion" id="accordionDesc_{{t_produit.ygoId}}">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <a class"a" href="{{ path('detailProduit', {'id': t_produit.id}) }}">
                                                <img class="img-fluid" src="/Images/ImgCartes/normal/{{carte.id}}.jpg" alt="{{ t_produit.nomProduit }}">
                                                </a>
                                                <button class="accordion-button collapsed bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{t_produit.ygoId}}" aria-expanded="true" aria-controls="collapse_{{t_produit.ygoId}}">
                                                    Description :
                                                </button>
                                            </h2>
                                            <div id="collapse_{{t_produit.ygoId}}" class="accordion-collapse collapse" data-bs-parent="#accordionDesc_{{t_produit.ygoId}}">
                                                <div class="accordion-body bg-black">
                                                    {{ carte.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        {# <div class="text-black">Stock : {{ t_produit.stock }}</div> #}
                                        <div class="text-black mt-2">Prix : {{ t_produit.prix|number_format(2) }} €</div>
                                        {# <div class="mt-2 mb-2">
                                            <a href="{{path('visitor_cart_add', {'id':t_produit.id})}}" class="btn btn-primary rounded-custom">Ajouter au panier</a>
                                        </div> #}
                                </div>
                            </div>
            {% endfor %}
        </div>
{% include "_pagination.html.twig" %}
    </section>
</main>
{% endblock %}