{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block h1 %}Modifier mon mot de passe{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto p-2">
    <div class="container mt-5">
        <div class="row">
            <div class="card rounded-custom col-md-6 mx-auto bg-lighter text-black">
                {{form_start(form)}}
                    <div class="mb-3 mt-3">
                        <label for="edit_user_password_form_currentPassword">Mot de passe actuel</label>
                        <div class="text-danger">{{form_errors(form.currentPassword)}}</div>
                        {{form_widget(form.currentPassword, {'attr': {'class':'form-control rounded-custom', 'autofocus': 'autofocus'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="edit_user_password_form_plainPassword_first">Nouveau mot de passe</label>
                        <div class="text-danger">{{form_errors(form.plainPassword.first)}}</div>
                        {{form_widget(form.plainPassword.first, {'attr': {'class':'form-control rounded-custom'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="edit_user_password_form_plainPassword_second">Confirmation du mot de passe</label>
                        <div class="text-danger">{{form_errors(form.plainPassword.second)}}</div>
                        {{form_widget(form.plainPassword.second, {'attr': {'class':'form-control rounded-custom'}})}}
                    </div>
                    <div class="mb-3">
                        <input formnovalidate type="submit" value="Modifier le mot de passe" class="btn btn-primary rounded-custom">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
</main>
{% endblock %}