{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block h1 %}Mon Profil{% endblock %}

{% block body %}
<main class="col-md-10 mx-auto p-2">
{# <div class="container col-4">
    <div class="row">
        <div class="col-5">Nom :</div>
        <div class="col-6"><strong>{{ app.user.nom }}</strong></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">Prénom :</div>
        <div class="col-6"><strong>{{ app.user.prenom }}</strong></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">Email :</div>
        <div class="col-6"><strong>{{ app.user.email }}</strong></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">Adresse :</div>
        <div class="col-6"><strong>{{ app.user.adresse }}</strong></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">Ville :</div>
        <div class="col-6"><strong>{{ app.user.ville }}</strong></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">Code Postal :</div>
        <div class="col-6"><strong>{{ app.user.codePostal }}</strong></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">Téléphone :</div>
        <div class="col-6"><strong>{{ app.user.tel }}</strong></div>
    </div>
    <div class="row mt-3">
        <div >
        <a class="d-flex justify-content-center ms-auto me-auto mt-3 btn btn-success" href="#">Modifier mon Profil</a>
        </div>
        <div >
        <a class="d-flex justify-content-center ms-auto me-auto mt-3 btn btn-danger" href="#">Supprimer mon Profil</a>
        </div>
    </div>
</div> #}

<div class="container mt-5">
    <div class="row">
        <div class="card rounded-custom col-md-7 col-lg-6 mx-auto bg-lighter">
        <div class="card-body ">
            <p class="card-title text-black"><strong>Nom</strong>: {{ app.user.nom }}</p>
            <p class="card-title text-black"><strong>Prénom</strong>: {{ app.user.prenom }}</p>
            <p class="card-title text-black"><strong>Email</strong>: {{ app.user.email }}</p>
            <p class="card-title text-black"><strong>Date de naissance</strong>: 
                {% if app.user.dateNaissance %}
                    {{app.user.dateNaissance|date('d/m/Y')}}
                {% else %}
                    <span class="text-danger fst-italic">Aucune date</span>  
                {% endif %}
            </p>
            <p class="card-title text-black"><strong>Adresse</strong>: {{ app.user.adresse }}</p>
            <p class="card-title text-black"><strong>Ville</strong>: {{ app.user.ville }}</p>
            <p class="card-title text-black"><strong>Code Postal</strong>: {{ app.user.codePostal }}</p>
            <p class="card-title text-black"><strong>Téléphone</strong>: {{ app.user.tel }}</p>
            
            <a href="{{path('app_profil_edit')}}" class="mt-2 btn btn-primary rounded-custom w-100">Modifier votre profil</a>
            <a href="{{path('app_profil_edit_password')}}" class="mt-2 btn btn-dark rounded-custom w-100">Modifier votre mot de passe</a>
            {% if "ROLE_SUPER_ADMIN" not in app.user.roles %}
                <form method="POST" action="{{path('app_profil_delete')}}" class="w-100">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="csrf_token" value="{{csrf_token('delete_profil')}}">
                    <input onclick="return confirm('Confirmer la suppression de votre compte ?')" type="submit" class="mt-2 btn btn-danger rounded-custom w-100" value="Supprimer votre compte">
                </form>
            {% endif %}
        </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
