{% extends 'base.html.twig' %}

{% block title %}Résultat(s) de la recherche{% endblock %}

{% block h1 %}Résultat(s) de la recherche pour "{{ query }}"{% endblock %}

{% block body %}

<section class= "container">

    <div class="row d-flex justify-content-center">

    {% if produits|length > 0 %}

    {% for produit in produits %}

        {% if produit.activation %}

            {% for carte in apiProduits %}

                {% if carte.id == produit.ygoId %}

                    <div class="col-md-6 col-lg-3 d-flex flex-column align-items-center border border-3 border-opacity-50 border-black mx-3 my-3 rounded bg-secondary carte">

                        <a class"a" href="{{ path('detailProduit', {'id': produit.id}) }}">
                        <h2 class="text-center"> {{ produit.nomProduit }} </h2>
                        </a>
                        <div class="mt-auto">
                            <div class="accordion" id="accordionDesc_{{produit.ygoId}}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <a class"a" href="{{ path('detailProduit', {'id': produit.id}) }}">
                                        <img class="img-fluid" src="/Images/ImgCartes/normal/{{carte.id}}.jpg">
                                        </a>
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{produit.ygoId}}" aria-expanded="true" aria-controls="collapse_{{produit.ygoId}}">
                                            Description :
                                        </button>
                                    </h2>
                                    <div id="collapse_{{produit.ygoId}}" class="accordion-collapse collapse" data-bs-parent="#accordionDesc_{{produit.ygoId}}">
                                        <div class="accordion-body">
                                            {{ carte.desc }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div>Stock : {{ produit.stock }}</div>
                                <div>{{ produit.prix|number_format(2) }} €</div>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        {% endif %}

    {% endfor %}

    {% else %}
    <p>Aucun produit trouvé.</p>
    {% endif %}

    </div>

</section>

{% endblock %}
