{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block h1 %}Gestion des produits{% endblock %}


{% block body %}
<main class="col-md-10 mx-auto p-2">
    {# <nav class="navbar bg-body"> #}
    <div class="container-fluid bg-body">
    <form class="d-flex" role="search">
        <input class="form-control w-200px rounded-custom me-2" type="text" name="search" placeholder="Produit(s)..." aria-label="Search">
        <button class="btn btn-outline-secondary rounded-custom" type="submit">Rechercher</button>
    </form>
    </div>
    {# </nav> #}

    <table class="table text-center table-hover mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activation</th>
                <th>Stock</th>
                <th>Prix</th>
                <th>Nom_produit</th>
                <th>Ygo_id</th>
                <th>Fiche</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for t_produit in t_produits %}
            <tr>
                <td>{{ t_produit.id }}</td>
                <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input checkActivation" type="checkbox" id="activationSwitch{{ t_produit.id }}" {{ t_produit.activation ? 'checked' : '' }} {# onclick="return confirm('Confirmer?')" #} value="{{ t_produit.id }}">
                        </div>
                </td>
                <td>{{ t_produit.stock }}</td>
                <td>{{ t_produit.prix|number_format(2) }} €</td>
                <td>{{ t_produit.nomProduit }}</td>
                <td>{{ t_produit.ygoId }}</td>
                <td>
                    <a class="btn btn-secondary rounded-custom" href="{{ path('app_t_produits_show', {'id': t_produit.id}) }}">Fiche</a>
                </td>
                <td>
                    <a class="btn btn-success rounded-custom" href="{{ path('app_t_produits_edit', {'id': t_produit.id}) }}">Modif</a>
                </td>
                <td>
                    <form method="post" action="{{ path('app_t_produits_delete', {'id': t_produit.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce produit ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ t_produit.id) }}">
                        <button type="submit" class="btn btn-danger rounded-custom">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary rounded-custom" href="{{ path('app_t_produits_new') }}">Ajouter produit</a>

    {# display navigation #}
    <div class="my-3 d-flex justify-content-end align-items-center">
        {{ knp_pagination_render(t_produits) }}
    </div>
</main>
{% endblock %}
{% block javascripts %}
<script>
        {# function toggleActivation(productId) {
            $.ajax({
                url: '{{ path('toggle_activation') }}',
                method: 'POST',
                data: {
                    productId: productId
                },
                success: function(response) {
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }; #}

        let checkActivation = $('.checkActivation');

        checkActivation.change(function()
        {
            let data = {
                'id' : $(this).val()
            }

            $.ajax({
                method: 'POST',
                url: "{{ path('toggle_activation')}}",
                data : data,
                dataType: 'json',

                success: function(response)
                {
                    console.log(response)
                },
                error: function()
                {
                    alert('error')
                }

            })       
        })
        </script>
{% endblock %}
