{% extends 'base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block h1 %}Gestion des produits{% endblock %}

{# {% block jQuery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
            },
        });
    });
    
</script>
{% endblock %} #}

{% block dataTables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.10/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.10/datatables.min.js"></script>
{% endblock %}

{% block customScripts %}
<script>
        function toggleActivation(productId) {
            $.ajax({
                url: '{{ path('toggle_activation') }}',
                method: 'POST',
                data: {
                    productId: productId
                },
                success: function(response) {
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        };
</script>
{% endblock %}


{% block body %}
    

    <table id="myTable" class="table text-center table-hover mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activation</th>
                <th>Stock</th>
                <th>Prix</th>
                <th>Nom_produit</th>
                <th>Ygo_id</th>
                <th>Fiche</th>
                <th>Ajouter</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for t_produit in t_produits %}
            <tr>
                <td>{{ t_produit.id }}</td>
                {# <td>{{ t_produit.activation ? 'Yes' : 'No' }}</td> #}
                <td>
                    <form action="{{path('toggle_activation', {'id': t_produit.id})}}" method="POST">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="activationSwitch{{ t_produit.id }}" {{ t_produit.activation ? 'checked' : '' }} onclick="return confirm('Confirmer?')" onchange="this.form.submit()">
                        </div>
                    </form>
                    {# <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="activationSwitch{{ t_produit.id }}" {% if t_produit.activation %} checked {% endif %} onchange="toggleActivation({{ t_produit.id }})">
                    </div> #}
                </td>
                <td>{{ t_produit.stock }}</td>
                <td>{{ t_produit.prix|number_format(2) }} €</td>
                <td>{{ t_produit.nomProduit }}</td>
                <td>{{ t_produit.ygoId }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_t_produits_show', {'id': t_produit.id}) }}">Fiche</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_t_produits_new', {'id': t_produit.id}) }}">Ajout</a>
                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_t_produits_edit', {'id': t_produit.id}) }}">Modif</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('app_t_produits_delete', {'id': t_produit.id}) }}">Suppr</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_t_produits_new') }}">Ajouter produit</a>

    {# display navigation #}
    <div class="my-3 d-flex justify-content-end align-items-center">
        {{ knp_pagination_render(t_produits) }}
    </div>




{% endblock %}
