{% extends 'base.html.twig' %}

{% block title %}Gestions des commandes{% endblock %}
{% block h1 %}Gestions des commandes{% endblock %}

{% block body %}
<main class="container mx-auto p-2">
        <table class="table">
            <thead>
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Id</th>
                    {% endif %}
                    <th>Numéros de commande</th>
                    <th>Statut</th>
                    <th>Fiche</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ commande.id }}</td>
                    {% endif %}
                    <td>{{ commande.numeros }}</td>
                    <td>{{ commande.statut }}</td>
                    <td>
                        <a class="btn btn-secondary rounded-custom" href="{{ path('app_commandes_show', {'id': commande.id}) }}">Fiche</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <form method="post" action="{{ path('app_commandes_delete', {'id': commande.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette commande ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
                                <button type="submit" class="btn btn-danger rounded-custom">Suppr</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
