{% extends 'base.html.twig' %}

{% block title %}Adresse facturation{% endblock %}
{% block h1 %}Adresse facturation{% endblock %}

{% block body %}
    <main class="container mx-auto p-2">
            <table class="table">
                <thead>
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Id</th>
                        {% endif %}
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse</th>
                        <th>Complément d'adresse (facultatif)</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Fiche</th>
                        {% if "ROLE_ADMIN" not in app.user.roles %}
                            <th>Modifier</th>
                        {% endif %}
                        {# <th>Supprimer</th> #}
                    </tr>
                </thead>
                <tbody>
                {% for adresse_facturation in adresse_facturations %}
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ adresse_facturation.id }}</td>
                        {% endif %}
                        <td>{{ adresse_facturation.nom }}</td>
                        <td>{{ adresse_facturation.prenom }}</td>
                        <td>{{ adresse_facturation.adresse }}</td>
                        <td>{{ adresse_facturation.complementAdresse }}</td>
                        <td>{{ adresse_facturation.cp }}</td>
                        <td>{{ adresse_facturation.ville }}</td>
                        <td>
                            <a class="btn btn-secondary rounded-custom" href="{{ path('app_adresse_facturation_show', {'id': adresse_facturation.id}) }}">Fiche</a>
                        </td>
                        {% if "ROLE_ADMIN" not in app.user.roles %}
                            <td>
                                <a class="btn btn-success rounded-custom" href="{{ path('app_adresse_facturation_edit', {'id': adresse_facturation.id}) }}">Modifier</a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                {% endfor %}
                    {% if adresse_facturations is empty %}
                        <p class="text-center text-danger display-5" colspan="3">Aucun résultat</p>
                        <a class="btn btn-primary rounded-custom mt-3" href="{{ path('app_adresse_facturation_new') }}">Créer nouvelle adresse de facturation</a>
                    {% endif %}
                </tbody>
            </table>
    </main>
{% endblock %}
